*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  transition: all .7s ease-in-out;
}

.mode {
  color: black;
}

.title {
  font-family: Georgia, Sans-Serif, Comic Sans MS;
  font-weight: 500;
  font-size: 44px;
  padding: 20px;
  color: white;
}

.container {
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

  .blue {
    background-color: #5f61fdd3;
  }
  .green {
    background-color: #01e003d3;
  } 
  .yellow {
    background-color: #f9f989d3;
  }
  .red {
    background-color: #ff7886d3;
  }
.box {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  background-color: gray;
  padding: 24px;
  border-radius: 16px;
}